@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Estilização para mobile */

@media(max-width: 600px){

    #titleLogin {
        text-align: center;
    }

    main{
        background-color: rgb(243, 243, 243);
        padding: 15px;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    #telaLogin {
        font-family: "Nunito", sans-serif;
        font-style: normal;
        font-size: 30px;
        padding: 10px;
    }
    
    #formLogin{
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 30px;
        height: 400px;
        gap: 80px;
    
        #usuario{
            text-align: center;
            width: 300px;
            font-size: 30px;
            align-self: center;
            border-style: solid;
            border-width: 2px;
            border-color: black;
            border-radius: 10px;
        }
    
        #senha{
            text-align: center;
            font-size: 30px;
            width: 300px;
            align-self: center;
            border-style: solid;
            border-width: 2px;
            border-color: black;
            border-radius: 10px;
        }
    
        button{
            font-size: 30px;
            width: 150px;
            align-self: center;
            border-radius: 10px;
            background-color: green;
            color: white;
        }

    }

    #cadUsu{
        display: flex;
        justify-content: center;
    }
}

/* Estilização para desktop */
@media(min-width: 601px){
#titleLogin {
    text-align: center;
}

#telaLogin {
    font-family: "Nunito", sans-serif;
    font-style: normal;
}

#formLogin{
    text-align: center;
    display: flex;
    flex-direction: column;

    #usuario{
        text-align: center;
        width: 500px;
        align-self: center;
    }

    #senha{
        text-align: center;
        width: 500px;
        align-self: center;
    }

    button{
        width: 50px;
        align-self: center;
    }
}

#cadUsu{
    display: flex;
    justify-content: center;
}

}
